<div class="btn-toolbar" role="toolbar">
        <span class="btn-group btn-group-sm" role="group">
            <a class="btn btn-primary" href="tel:{{ tel }}" data-toggle="tooltip"><i class="bi bi-phone"></i> {{ phone_name }}</a>
            <a class="btn btn-success" href="/admin/sms/{{ phone_num }}"><i class="bi bi-reply"></i> {{ 'Reply'|trans }}</a>
            <a class="btn btn-info" href="/admin/sms/search/{{ phone_num }}"><i class="bi bi-phone-vibrate"></i> {{ 'Detail'|trans }}</a>
            <time class="btn btn-outline-dark" datetime="{{ time }}"><i class="bi bi-clock-history"></i> {{ time_format }}</time>
       </span>
</div>

