This module for manager sms with <b>Gammu-smsd</b> to provide a MySQL database interface.
This allows for send and receive SMS text messages on your system.<br/><br/>

You must have modify configuration Service = mysql in file /etc/gammu-smsdrc something like this<br/>
<pre>
  [smsd]
  Service = mysql
  PIN = 1234
  LogFile = syslog
  user = root
  password = root
  host = localhost
  database = smsd
</pre>
<br/>
In the drupal site, you can send and get sms in the 'smsd' database. You can map your content type with phone field and name field or text field.<br/>
There is simple webservice (not security - it just checks token Authorization) to send sms via drupal api api/gammu/send <br/>Method POST<br/>
<code>{ number: +336xxxxxxx, text: xxxxxx}</code><br/>
<b>Header</b><br/>
<code>
  Content-Type: application/json<br/>
  Authorization: {{ token }}
</code>
You can also active webservice RESTUI to get inbox and sent message.<br/>
CSRF token is needed for Basic authentication. This token will be used to call other API end points which needs basic authentication.<br/>
POST to http://your_domain.com/user/login?_format=json
<pre>
{
"name": "admin",
"pass": "YOUR_PASSWORD"
}
</pre>
you will get csrf_token, add this to header <br/>
X-CSRF-Token: csrf_token


